Flask == 2.0.1
gunicorn ==19.9.0
itsdangerous >=2.0
Jinja2 >=3.0
MarkupSafe>=2.0
Werkzeug>=2.0
firebase==3.0.1
python-jwt == 3.3.0
six==1.16.0
gcloud == 0.18.3
sseclient== 0.0.27
crypto == 1.4.1
pycryptodome==3.10.1
