
        	.animate__animated.animate__flash {
            --animate-duration: 2s;
          }
          .carousel-control-prev
          {
            width: 400px;
          }
          .carousel-control-next
          {
            width: 400px;
          }
          .carousel-control-prev,
          .carousel-control-next{
                  height: 50px;
                  width: 50px;
                  outline: color-white;
                  background-size: 100%, 100%;
                  border-radius: 50%;
                  border: 1px solid color-white;
                  background-color: color-white;
              }
          
              .carousel-control-prev-icon { 
                  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
                  width: 30px;
                  height: 48px;
              }
              .carousel-control-next-icon { 
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                  width: 30px;
                  height: 48px;
              }
          
          
          
          .personalphoto{
            border-radius: 50%;
            height:auto;
            max-width:100%;
          }
          .skillimg
          {
            height:auto;
            max-width:100%; 
          }
          
          .social-icon path{
            margin-top: 60px;
            padding-right: 25px;
            float: left;
            fill: black;
            
          }
          .btn-circle.btn-xl { 
                      width: 70px; 
                      height: 70px; 
                      padding: 10px 16px; 
                      border-radius: 35px; 
                      font-size: 12px; 
                      text-align: center; 
          } 
          
          #name
          {
            background-color:  chartreuse;
            font-size: x-large;
            
          }
          #email
          {
            background-color:Lightcyan;
            font-size: x-large;
          }
          #suggestion
          {
            background-color: Linen;
            font-size: x-large;
          }
          #contactme
          {
            font-family: "Sofia";
            font-size: 42px;
          }
          #send
          {
            font-size: x-large;
          }
          #mineinfo
          {
            font-family: "Work Sans";
          }
          #projecthand
          {
            font-family: "Pacifico";
            font-size: 22px;
          }
          #articlehand
          {
            font-family: "Capriola";
          }
          #expinfo
          {
            font-family: "Source Code Pro";
          }
          body {
            line-height: 1;
            text-align: center;
            overflow-x: hidden;
          }
          @media screen and (max-width: 700px) {
              body {
                  overflow-x: hidden !important;
              }
              html {
                  max-width: 100% !important;
                  overflow-x: hidden !important;
              }
          }
          .carousel-indicators{
              background-color: #f00;
          }
